<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link href="basend/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
        {% include 'Main/patrial/css.html.twig' %}
    </head>
    <body>
        {% include 'Main/patrial/head.html.twig' %}
        {% include 'Main/patrial/head_link.html.twig' %}
        {% block body %}
            {% block content %}
            {% endblock %}
        {% endblock %}

        {% include 'footer.html.twig' %}
        {% include 'Main/patrial/js.html.twig' %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
